workflows/[Projetos] X9 - Adiciona grupo na planilha quando número é adicionado.json
{
  "name": "[Projetos] X9 - Adiciona grupo na planilha quando número é adicionado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "170e3d80-104d-4db0-8753-1e9914e75b87",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cc047d06-df4f-49c7-a2c5-7b0c2930d216",
      "name": "Webhook",
      "webhookId": "170e3d80-104d-4db0-8753-1e9914e75b87"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b925e1d9-b96c-420e-8269-36c12179bce1",
              "leftValue": "={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"messages\"][\"0\"][\"content\"] }}",
              "rightValue": "joined group",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1e3dd0c9-1b55-4eba-bcf4-353c3a557878",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fd0d103-c394-404d-8b9b-b5edad534a63",
              "name": "id do gupo",
              "value": "={{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"messages\"][\"0\"][\"sender\"][\"identifier\"] }}",
              "type": "string"
            },
            {
              "id": "a28b3ba3-022c-4b33-89b9-4bb2b2491c8d",
              "name": "nome do grupo",
              "value": "={{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"messages\"][\"0\"][\"sender\"][\"name\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "5028948d-e68f-4963-a2f1-93ae78bf4d50",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1r2jE8qP67k4Ws74aC1ftWbsz84gIA73oqlntx04qSqs",
          "mode": "list",
          "cachedResultName": "Grupos Projetos Rugido",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r2jE8qP67k4Ws74aC1ftWbsz84gIA73oqlntx04qSqs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r2jE8qP67k4Ws74aC1ftWbsz84gIA73oqlntx04qSqs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id do grupo": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"id do gupo\"] }}",
            "Nome do grupo": "={{ $item(\"0\").$node[\"Edit Fields\"].json[\"nome do grupo\"] }}",
            "Está ativo?": "SIM"
          },
          "matchingColumns": [
            "id do grupo"
          ],
          "schema": [
            {
              "id": "Nome do grupo",
              "displayName": "Nome do grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id do grupo",
              "displayName": "id do grupo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Está ativo?",
              "displayName": "Está ativo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Gestor Responsável",
              "displayName": "Gestor Responsável",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        624,
        0
      ],
      "id": "8fd25b6f-0e61-4c21-b2e7-b89a7ebb3d83",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "U47q3d9BjtA5WT4r",
          "name": "Google Sheets account (Eduardo)"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-agencia.lucasfelix.com",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "2059",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "65.108.98.173",
            "x-forwarded-host": "webhook-agencia.lucasfelix.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2ec58babc22d",
            "x-real-ip": "65.108.98.173"
          },
          "params": {},
          "query": {},
          "body": {
            "additional_attributes": {},
            "can_reply": true,
            "channel": "Channel::Api",
            "contact_inbox": {
              "id": 39258,
              "contact_id": 26786,
              "inbox_id": 3,
              "source_id": "dd6e6aff-12e4-452f-99c1-9f4a27dec3e9",
              "created_at": "2025-11-06T12:33:27.668Z",
              "updated_at": "2025-11-06T12:33:27.668Z",
              "hmac_verified": false,
              "pubsub_token": "1obLGvnAiTZahZJmHY8nDZuZ"
            },
            "id": 1630,
            "inbox_id": 3,
            "messages": [
              {
                "id": 1502837,
                "content": "joined group",
                "account_id": 2,
                "inbox_id": 3,
                "conversation_id": 1630,
                "message_type": 0,
                "created_at": 1762432408,
                "updated_at": "2025-11-06T12:33:28.895Z",
                "private": false,
                "status": "sent",
                "source_id": "1762432405",
                "content_type": "text",
                "content_attributes": {
                  "external_created_at": 1762432407.086,
                  "items": {
                    "quepasa": {
                      "msgid": "1762432405"
                    }
                  }
                },
                "sender_type": "Contact",
                "sender_id": 26786,
                "external_source_ids": {},
                "additional_attributes": {},
                "processed_message_content": "joined group",
                "sentiment": {},
                "skip_flood_check": false,
                "conversation": {
                  "assignee_id": null,
                  "unread_count": 1,
                  "last_activity_at": 1762432408,
                  "contact_inbox": {
                    "source_id": "dd6e6aff-12e4-452f-99c1-9f4a27dec3e9"
                  }
                },
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 26786,
                  "identifier": "120363422844879974@g.us",
                  "enable_bot": false,
                  "name": "Teste 2 (GRUPO)",
                  "phone_number": "",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                }
              }
            ],
            "labels": [],
            "meta": {
              "sender": {
                "additional_attributes": {},
                "custom_attributes": {},
                "email": null,
                "id": 26786,
                "identifier": "120363422844879974@g.us",
                "enable_bot": false,
                "name": "Teste 2 (GRUPO)",
                "phone_number": "",
                "thumbnail": "",
                "blocked": false,
                "type": "contact"
              },
              "assignee": null,
              "team": null,
              "hmac_verified": false
            },
            "status": "pending",
            "custom_attributes": {},
            "snoozed_until": null,
            "unread_count": 1,
            "first_reply_created_at": null,
            "priority": null,
            "typebot_session": null,
            "flowise_session": null,
            "enable_captain": true,
            "waiting_since": 1762432407,
            "agent_last_seen_at": 0,
            "contact_last_seen_at": 0,
            "last_activity_at": 1762432408,
            "timestamp": 1762432408,
            "created_at": 1762432407,
            "updated_at": 1762432408.89821,
            "applied_sla": null,
            "sla_events": [],
            "sla_policy_id": null,
            "event": "automation_event.message_created"
          },
          "webhookUrl": "https://webhook-agencia.lucasfelix.com/webhook/170e3d80-104d-4db0-8753-1e9914e75b87",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "814d8bd2-1cc2-442c-a8ee-c6992b3fe8fb",
  "meta": {
    "instanceId": "a6621628722aa5347c8b1013e0681aaac75a5c961fb103161daedf79fde4fd1e"
  },
  "id": "WASP9wfETWkoVAAx",
  "tags": []
}